<html>
	<head>
		<title>:: Students Page ::</title>
		<link rel="stylesheet" href="/css/students.css">	
		<script src= "/js/students.js"></script>
		<script>
			function validate(form) {
				var studId = form.studId;
				
				if(isEmpty(studId)) {
					document.getElementById("failure").innerText = 'Please Enter valid student Id and try again...';
					studId.focus();
					return false;
				}
			}
		</script>
	</head>
	<body>
		<table align="center" width="500" border="0">
			<tr height="200"><td></td></tr>
			<tr>
				<td>
					<fieldset>
						<legend class="heading">Student's Details</legend>
						<form method="GET" action = "/student/view" onSubmit = "return validate(this);">
							<table align="center" border="0" cellspacing="10">
								<tr><td><label>Student ID:</label></td> <td><input type="text" name="studId"></td><td><input type="submit" value="Search"> &nbsp; <input type="reset" value="Reset"></tr>
								<tr><td colspan="3"><div id="failure"/></td></tr>
							</table>
						</form>
					</fieldset>
				</td>
			</tr>
			<tr height="50">
				<td align="center">
					<table> 
						<tr>
							<td> 
								<form action="/student/new" method="GET">
									<input type="submit" value="Create New Student">
								</form>
							</td>
							<td>
								<form action="/student/viewall" method="GET">
									<input type="submit" value="View All">
								</form>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>